:root {
  --background-color-blue: linear-gradient(
    60deg,
    rgb(1, 73, 139),
    rgb(31, 134, 252)
  );
}
* {
  box-sizing: border-box;
  font-size: 20px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: linear-gradient(60deg, rgb(33, 44, 66), rgb(15, 19, 29));
  min-height: 100vh;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(30deg, rgb(160, 209, 255), rgb(17, 81, 255));
}
.image {
  width: 60px;
}
.image img {
  width: 100%;
}
nav i {
  font-size: 60px;
  color: rgb(126, 203, 255);
}
.app-title {
  text-align: center;
  font-size: 50px;
  color: #fff;

  margin: 0;
  padding: 30px;
}
.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 90vw;
  max-width: 800px;
  margin: auto;
}
.todo-list .inputs {
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--background-color-blue);
  padding: 30px;
  border-radius: 5px;
}
.todo-list .inputs input {
  height: 50px;
  width: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.603);
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  padding: 0 20px;
}
.todo-list .inputs input::placeholder {
  color: rgba(0, 0, 0, 0.521);
}
.todo-list .inputs input::selection {
  background-color: rgba(0, 63, 139, 0.596);
  color: rgba(255, 255, 255, 0.712);
}
.todo-list .inputs button {
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.473);
  padding: 5px 15px;
  border-radius: 0 5px 5px 0;
  background-color: rgba(0, 92, 197, 0.514);
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}
.todo-list .inputs .edit-mode-btn {
  background-color: rgb(0, 173, 0);
}
.todo-list .inputs .edit-mode-btn:hover {
  background-color: rgb(0, 219, 0);
}
.todo-list .inputs button:hover {
  background-color: rgb(58, 127, 255);
}

.todo-list .outputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--background-color-blue);
  padding: 30px;
  border-radius: 5px;
}
.todo-list .outputs .tasks-num {
  margin: 0;
  color: #fff;
}
.todo-list .outputs .todo-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px;
  background-color: rgba(255, 255, 255, 0.185);
  margin-top: 20px;
  border-radius: 5px;
}
.todo-list .outputs .todo-item .left {
  display: flex;
  align-items: center;
}
.todo-list .outputs .todo-item .left input {
  margin-right: 10px;
  flex-shrink: 0;
}
.todo-list .outputs .todo-item .buttons .btn {
  background-color: rgba(235, 42, 17, 0.774);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.todo-list .outputs .todo-item .buttons .btn .btn-text {
  margin: 0;
  width: 0;
  transition: 0.5s;
  translate: 20px 0;
  font-size: 17px;
  font-weight: 600;
}
.todo-list .outputs .todo-item .buttons .btn:hover .btn-text {
  margin-left: 10px;
  width: 50px;
  translate: 0 0;
}

.todo-list .outputs .todo-item .buttons .edit-btn {
  background-color: rgba(0, 88, 221, 0.753);
}
.todo-list .outputs .todo-item .buttons .check-btn {
  background-color: rgba(6, 218, 69, 0.753);
}

.clear-btn {
  background-color: rgba(235, 42, 17, 0.774);
  color: #fff;
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}
.clear-btn:hover {
  background-color: rgba(255, 73, 49, 0.774);
}
.select {
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0.616);
}
.buttons {
  display: flex;
  gap: 15px;
}
.todo-text {
  cursor: pointer;
  flex-shrink: 0;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
}
.todo-text::selection {
  background-color: transparent;
}
.checkBox {
  display: none;
}
.checkBox-visible {
  width: 20px;
  cursor: pointer;
  margin-right: 10px;
  color: rgb(128, 255, 128);
  scale: 0;
  translate: 10px 0;
  transition: 0.4s;
  font-size: 25px;
}
.on {
  translate: 0 0;
  scale: 1;
}
